/* 228c3a Pallete Hijau*/ 
/* ffc107 Pallete Orange */
body{
    margin: 0;
    padding: 0;
  }

p{
    color: black;
}

.container .navbar-brand{
      color: #228c3a;
      font-weight: bold;
  }

nav .container ul li .active{
    background-color: white;
    color: #228c3a;
    font-weight: bold;
}

/* TAMBAHAN CSS CAROUSEL */
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.marketing h2{
    color: #228c3a;
    font-weight: bold;
}

.regist-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 5px;
}

.regist-btn .daftar{
    background-color: #ffc107;
    border-radius: 6px;
    border: #ffc107 2px solid;
    font-weight: bold;
}

.regist-btn .daftar:hover{
    border: white 2px solid;
    background-color: #ffc107;
    border-radius: 6px;
    font-weight: bold;
    color:white;
}

.regist-btn .biaya{
    border: white solid 2px;
    background-color: #228c3a;
    border-radius: 6px;
}


.container h1{
    color: #228c3a;
}

.copyright a{
    color: white;
    font-weight: bold;
}